@font-face {
  font-family: "Product Sans Bold";
  src: url("./Assets/Fonts/Product Sans Bold.ttf");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("./Assets/Fonts/Product Sans Regular.ttf");
}

@font-face {
  font-family: "Product Sans Medium";
  src: url("./Assets/Fonts/Product Sans Medium 500.ttf");
}
@font-face {
  font-family: "Product Sans Black";
  src: url("./Assets/Fonts/Product Sans Black 900.ttf");
}
@font-face {
  font-family: "Product Sans Thing";
  src: url("./Assets/Fonts/Product Sans Thin 250.ttf");
}
div{
  font-family: "Product Sans Bold", serif;
}
h1
{
  color: black;
}

h2
{
  font-family: "Product Sans Black";
  color: black;
  font-size: 2vw;
}
p
{
  color: black;
  font-size: 1vw;
  font-family: "Product Sans Regular", serif;
}
.HeaderLink
{
  font-family: "Product Sans Regular";
}
section
{
  padding:  5% 5% 0 5%;
}
#AwardsSection
{
  display: grid;
  grid-template-columns: 18.2vw auto 18.2vw auto 18.2vw;
}
.circuit-background
{
  background-color: #E7E9F1;
  background-image: url('./Assets/All_CircuitArt.svg');
}
.circuit-background-blur
{
  background-image: linear-gradient(
                  to bottom,
                  rgba(231, 233, 241, 1) 0.5%,
                  rgba(231, 233, 241, 0)
  );
}